@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:wght@400;500;700;900&display=swap');
@import "./nav.css";



:root{ /* Aqui dentro desse root é onde é criado as variaveis para  */
    --blue: #4242dd;
    --white: #eeeeee;
    --black: #222222;
    --gray: #444444;
    --font-title: 'serif';
    --shawdow: rgba(0,0,0,0.25);
    --font-title: "Nunito", sans-serif;
    --font-size-default: "Roboto", sans-serif;
    --font-size-default: 16px;

}

*{  /* Esse codigo abaixo serve para dar um reset no site e ajustar as bordas padrão em diversos navegadores */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-primary);
    font-size: var(--font-size-default);
}

a{
    color: var(--gray);
    text-decoration: underline;
}

.container{
    width: 100%;
    min-width: 340px;
    max-width: 1280px;
    margin: auto; /* serve para centralizar, toda div que eu quero centralizar eu uso o margin auto*/
}